*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  max-width: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  max-width: 1140px;
}

.result {
  max-width: 711px;
  padding-top: 78px;
  max-height: 456px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  overflow: hidden;
  position: relative;
}

ul.content__list li:last-of-type {
  position: sticky;
  bottom: 0%;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  zoom:120%
}

.search-form {
  height: 54px;
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
font-size: 18px;
font-weight: 400;
line-height: 21.6px;
padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(input.search-form__checkbox):focus-visible {
  border: 1px solid #FFFFFF;
}

.search-form__label:not(:has(.search-form__textfield)):hover {
  text-decoration: underline;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}
.search-form__label:focus-within {
  outline: none;
  border: 1px solid #FFFFFF;
}

.search-form__label-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  appearance: none;
  padding-left: 5px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  line-height: 21.6px;
  background-color: transparent;
  appearance: none;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #FFFFFF);
  border-left: 0px;
  border-right: 0px;
  margin: 0;
  width: 225px;
  padding: 2px;
}

.search-form__textfield:hover {
  text-decoration: none;
}

.search-form__textfield:active {
  border: 1px solid #ffffff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #FFFFFFf;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__checkbox {
  width: 19px;
  height: 19px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  outline: 1px solid #FFFFFF;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  background-color: #FFFFFF;
}

.button {
font-family: 'Fira Sans Condensed';
color: #FFFFFF;
font-size: 18px;
font-weight: 700;
line-height: 21.6px;
text-align: center;
background-color: #1b1919;
height: 34px;
cursor: pointer;
border: 1px solid #FFFFFF;
}

.search-form__submit-button {
  max-width: 194px;
  align-self: flex-end;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.content__details {
  max-width: 399px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
font-family: 'Oswald', sans-serif;
font-size: 75px;
font-weight: 700;
line-height: 70.5px;
text-align: left;
padding-bottom: 24px;
text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  height: 298px;
  overflow: auto;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.preloader {
  position: relative;
  z-index: 1;
}

.content__list-item:hover {
  text-decoration: underline;
}

:focus {
  outline: none !important;
}

:focus-visible {
  border: 1px solid #FFFFFF !important;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  padding: 2px;
}

.content__video-card {
  display: flex;
  justify-content: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  text-transform: uppercase;
font-family: 'Oswald';
font-size: 30px;
font-weight: 700;
line-height: 30px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  background-size: cover;
  background-position: center;
}

.more-button {
  width: 399px;
}